@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<map name="storemap1">
    <area shape="rect" coords="71,1811,991,2085" alt="Get it on Google Play" href="https://play.google.com/store/apps/details?id=com.soundmindentertainment.gnollhack">
    <area shape="rect" coords="1065,1811,1873,2085" alt="Download on the App Store" href="https://apps.apple.com/app/gnollhack/id1626979951">
    <area shape="rect" coords="1945,1811,2692,2085" alt="Get it from Microsoft" href="https://apps.microsoft.com/store/detail/9P6SBLH8ZR41">
</map>

<map name="storemap2">
    <area shape="rect" coords="71,1811,991,2085" alt="Get it on Google Play" href="https://play.google.com/store/apps/details?id=com.soundmindentertainment.gnollhack">
    <area shape="rect" coords="1065,1811,1873,2085" alt="Download on the App Store" href="https://apps.apple.com/app/gnollhack/id1626979951">
    <area shape="rect" coords="580,2148,1330,2418" alt="Get it from Microsoft" href="https://apps.microsoft.com/store/detail/9P6SBLH8ZR41">
</map>

<img id="mainpic1" src="img/img2-full-3840x2160-gr.jpg" alt="GnollHack" class="picture" usemap="#storemap1" />
<img id="mainpic2" src="img/img2-portrait.jpg" alt="GnollHack" class="picture" style="display:none;" usemap="#storemap2" />

<section class="right-section orc-assassin">
    <div class="features-text">
        <h2>Download</h2>
        <h4>Available for <span class="free">free</span> on Android, iOS, and Windows!</h4>
        <div class="download-link-outer-container">
            <div class="download-link-container">
                <a href="https://play.google.com/store/apps/details?id=com.soundmindentertainment.gnollhack"><img src="~/img/google-play-badge-noborders.png" alt="Get it on Google Play" class="shiny-borders google-play" /></a>
            </div>
        </div>
        <div class="download-link-outer-container">
            <div class="download-link-container">
                <a href="https://apps.apple.com/app/gnollhack/id1626979951"><img src="~/img/app-store-badge-h200-noborders.png" alt="Download on the App Store" class="shiny-borders apple-app-store" /></a>
            </div>
        </div>
        <div class="download-link-outer-container">
            <div class="download-link-container">
                <a href="https://apps.microsoft.com/store/detail/9P6SBLH8ZR41"><img src="~/img/microsoft-store-h200-noborders.png" alt="Get it from Microsoft" class="shiny-borders microsoft-store" /><span class="beta">BETA</span></a>
            </div>
        </div>

        <h2>What is GnollHack?</h2>
        <p class="whatis">
            Remaster of the classic roguelike game <a href="https://www.nethack.org" target="_blank" class="free">NetHack</a>
        </p>
        <ul class="tight-list2">
            <li>Modern  user interface</li>
            <li>Vibrant animated graphics</li>
            <li>Original music track</li>
            <li>Immersive voiceovers</li>
            <li>Legendary strategic depth</li>
            <li>Endless replayability</li>
            <li>Cross-platform support</li>
        </ul>

    </div>
</section>


<section class="left-section orc-hunter">
    <div class="features-text">
        <h2>Gameplay Video</h2>
        <p class="info-text">A showcase video of GnollHack for Windows played by Nookrium.</p>
        <div class="videoContainer">
            <div class="videoWrapper">
                <iframe src="https://www.youtube.com/embed/2E0JERYB-rI?si=KwGwoPYRubjv8dKe"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</section>

<h1>Features</h1>

<section class="right-section female-mage">
    <div class="features-text">
        <div class="imgContainer" style="padding-top: 10px;">
            <img src="~/img/human_rogue_male.png" alt="Human Rogue" />
        </div>
        <h3>Roguelike Gameplay</h3>
        <ul>
            <li>Explore procedurally generated dungeons filled with monsters, traps, and treasures.</li>
            <li>Every playthrough is unique due to randomized elements.</li>
            <li>Traditional roguelike with turn-based gameplay, grid-based movement, and no meta-progression.</li>
            <li>Traditional roguelike with turn-based gameplay, grid-based movement, and no meta-progression.</li>
            <li>Delve into the dungeon and recover the Amulet of Yendor to win the game.</li>
        </ul>

        <div class="imgContainer extra-padding">
            <img src="~/img/human_wizard_female.png" alt="Human Wizard" />
            <img src="~/img/gnoll_barbarian_male.png" alt="Gnoll Barbarian" />
        </div>
        <h3>Rich Class and Race System</h3>
        <ul>
            <li>Choose from 13 different character classes (e.g. wizard, barbarian, or rogue) with unique abilities.</li>
            <li>Choose from 5 different races (e.g. human, elf, or gnoll) with unique traits.</li>
        </ul>
    </div>
</section>

<section class="left-section barbarian">
    <div class="features-text">
        <div class="imgContainer extra-padding">
            <img src="img/dungeon-normal_tree.png" style="width:128px;" alt="Tree" />
            <img src="img/dungeon-normal_tree-fig.png" style="width:128px;" alt="Fig Tree" />
        </div>
        <h3>Complex and Interactive World</h3>
        <ul>
            <li>Highly detailed mechanics, including hunger, item identification, and environmental interactions.</li>
            <li>Solve puzzles, disarm traps, and experiment with items in unexpected ways (e.g. dip a weapon into a potion of poison to coat it with poison).</li>
        </ul>

        <div class="imgContainer extra-padding">
            <img src="img/stormbringer.png" alt="Stormbringer" />
            <img src="img/disintegrate_active.png" alt="Disintegrate" />
        </div>
        <h3>Deep Item and Magic System</h3>
        <ul>
            <li>Hundreds of items, spells, and artifacts with diverse effects.</li>
            <li>Strategic inventory management and item identification are critical for success.</li>
        </ul>
    </div>
</section>

<div class="image-background image1">
    <div class="text-background text1">

        <section class="features-text">

            <div class="imgContainer" style="padding-top: 0px;">
                <img src="img/gnoll_body.png" alt="Dead Gnoll" />
            </div>
            <h3>Challenging Permadeath</h3>
            <h4>(Classic Mode Only)</h4>
            <ul>
                <li>Death is permanent, requiring players to adapt, plan, and learn from mistakes to progress further.</li>
                <li>High-stakes decision-making encourages careful exploration.</li>
            </ul>

            <div class="imgContainer extra-padding">
                <img src="img/fire.png" alt="Fire" style="width:128px;" />
                <img src="img/dip.png" alt="Dip" style="width:128px;" />
            </div>
            <h3>Modern Graphical UI</h3>
            <ul>
                <li>Animated graphics, immersive sound effects, original music, and engaging voiceovers bring the dungeon to life, setting GnollHack apart from classic ASCII-based roguelike games.</li>
                <li>GnollHack's user-friendly, modern user interface makes the game approachable for new players.</li>
                <li>Includes options to tailor difficulty and gameplay experience to your preferences.</li>
            </ul>

            <div class="imgContainer extra-padding">
                <img src="img/loot.png" alt="Loot" style="width:128px;" />
                <img src="img/chat.png" alt="Chat" style="width:128px;" />
            </div>
            <h3>Open Source</h3>
            <ul>
                <li>Developed as a free and open source game.</li>
                <li>Players have opportunities for giving feedback and collaborating in the development.</li>
            </ul>

            <div class="imgContainer extra-padding">
                <img src="img/wish.png" alt="Wish" style="width: 128px;" />
            </div>
            <h3>NetHack Remaster</h3>
            <ul>
                <li>Built on the legacy of the legendary NetHack, GnollHack is faithful to its spirit and gameplay mechanics while adding new features.</li>
            </ul>

            <div class="imgContainer extra-padding">
                <img src="img/android-256.png" alt="Android" style="width: 64px;" />
                <img src="img/apple-logo-256.png" alt="Apple" style="width: 64px;" />
                <img src="img/Microsoft_Logo_256px.png" alt="Windows/Microsoft" style="width: 64px;" />
            </div>
            <h3>Cross-Platform Support</h3>
            <ul class="very-tight-list" style="width: min(100vw, 160px);">
                <li>Android</li>
                <li>iOS</li>
                <li>Windows</li>
            </ul>
        </section>

        <section class="features-text" style="text-align: center;">
            <h2>Gameplay Information</h2>
            <div class="imgContainer">
                <img src="img/library.png" alt="Loot" style="width:128px;" />
            </div>
            <p class="important-link"><a href="https://github.com/hyvanmielenpelit/GnollHack/wiki">GnollHack Wiki</a></p>
            <p class="important-link"><a href="https://nethackwiki.com">NetHack Wiki</a></p>

            <h2>Community</h2>
            <div class="imgContainer">
                <img src="img/spells.png" alt="Loot" style="width:128px;" />
            </div>
            <p class="important-link"><a href="https://discord.gg/cQuExnzUQy">GnollHack Discord</a></p>
            <p class="important-link"><a href="https://account.gnollhack.com">GnollHack Account</a></p>
            <p class="important-link"><a href="https://github.com/hyvanmielenpelit/GnollHack">GitHub Repository</a></p>
        </section>
    </div>
</div>

@section Scripts
{
    <script src="~/js/vendor/imageMapResizer.min.js"></script>
    <script>
        $(function(){
          $('map').imageMapResize();
          $("#curYear").text(new Date().getFullYear());
        });
    </script>
}