@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<section class="main-section">
    <img src="~/img/gnollhack-image-landscape-w2560.webp" alt="GnollHack" class="landscape-picture" />
    <img src="~/img/gnollhack-image-portrait-w1080.webp" alt="GnollHack" class="portrait-picture" style="display:none;" />
</section>

<section class="right-section orc-assassin">
    <div class="backdrop">
        <div class="features-text">
            <h2>Download</h2>
            <h4>Available for <span class="free">free</span> on Android, iOS, macOS, and Windows!</h4>

            <div class="download-link-outer-container">
                <div class="download-link-container" data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-custom-class="download-link-tooltip"
                     data-bs-title="Android">
                    <a href="https://play.google.com/store/apps/details?id=com.soundmindentertainment.gnollhack&utm_source=gnollhack"><img src="~/img/google-play-badge-noborders.webp" alt="Get it on Google Play" class="shiny-borders google-play" /></a>
                </div>
            </div>

            <div class="download-link-outer-container">
                <div class="download-link-container" data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-custom-class="download-link-tooltip"
                     data-bs-title="iOS & macOS">
                    <a href="https://apps.apple.com/app/gnollhack/id1626979951?utm_source=gnollhack"><img src="~/img/app-store-badge-h200-noborders.webp" alt="Download on the App Store" class="shiny-borders apple-app-store" /></a>
                </div>
            </div>

            @* <div class="download-link-outer-container">
                <div class="download-link-container">
                    <a href="https://apps.microsoft.com/store/detail/9P6SBLH8ZR41?utm_source=gnollhack"><img src="~/img/microsoft-store-h200-noborders.webp" alt="Get it from Microsoft" class="shiny-borders microsoft-store" />
                    </a>
                </div>
            </div> *@

            <div class="download-link-outer-container">
                <div class="download-link-container" data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-custom-class="download-link-tooltip"
                     data-bs-title="Windows">
                    <a href="https://store.steampowered.com/app/3558190/GnollHack/?utm_source=gnollhack">
                        <img src="~/img/steambadge-noborders.webp" alt="Available on Steam" class="shiny-borders steam" />
                    </a>
                </div>
            </div>

            <div class="download-link-outer-container">
                <div class="download-link-container" data-bs-toggle="tooltip" data-bs-placement="top"
                     data-bs-custom-class="download-link-tooltip"
                     data-bs-title="Windows: Legacy & MSIX">
                    <a href="https://github.com/hyvanmielenpelit/GnollHack/releases">
                        <img src="~/img/GitHubDownloadBadge-NoBorders-h200.webp" alt="Get release on GitHub" class="shiny-borders apple-app-store" />
                    </a>
                </div>
            </div>

            <h2>What is GnollHack?</h2>
            <div class="description-center">
                <div class="description">
                    GnollHack is the modern heir to the legendary <a href="https://www.nethack.org" target="_blank" class="free">NetHack</a>
                    — the deepest <i>traditional roguelike</i> ever made.
                    The classic game has been brought to life with graphics, sounds, and voiceovers, making it
                    more immersive than ever — without sacrificing the hardcore depth roguelike players love.
                </div>
            </div>
            <div class="readmore">
                <p class="whatis">Learn more from <a href="https://wiki.gnollhack.com" target="_blank" class="free">wiki</a></p>
            </div>
        </div>
    </div>
</section>


<section class="left-section orc-hunter">
    <div class="backdrop">
        <div class="features-text">
            <h2>Videos and Screenshots</h2>
            <div class="carousel-container">
                @await Html.PartialAsync("_Carousel", Model.MediaItems)
            </div>
        </div>
    </div>
</section>

<h1>Features</h1>

<section class="right-section female-mage">
    <div class="backdrop">
        <div class="features-text">
            <div class="imgContainer extra-padding">
                <img src="~/img/human_wizard_female.webp" alt="Human Wizard" />
            </div>
            <h3>Outsmart the Dungeon</h3>
            <div class="block-centered-text-left-align">
                <div>
                    <ul>
                        <li>A test of wit and mastery — not reflexes</li>
                        <li>Turn-based gameplay</li>
                        <li>Legendary strategic depth</li>
                    </ul>
                </div>
            </div>

            <div class="imgContainer extra-padding">
                <img src="~/img/human_rogue_male.webp" alt="Human Rogue" />
            </div>
            <h3>Modern User Interface</h3>
            <div class="block-centered-text-left-align">
                <div>
                    <ul>
                        <li>Graphics and animations</li>
                        <li>Sounds and voiceovers</li>
                        <li>Full touch support on mobile</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="left-section barbarian">
    <div class="backdrop">
        <div class="features-text">
            <div class="imgContainer extra-padding">
                <img src="~/img/gnoll_barbarian_male.webp" alt="Gnoll Barbarian" />
            </div>
            <h3>Endless Replayability</h3>
            <div class="block-centered-text-left-align">
                <div>
                    <ul>
                        <li><b>Randomized dungeons</b> — No run is the same</li>
                        <li><b>Multitude of systems</b> — Always something new to learn</li>
                        <li><b>Several character options</b> — 13 classes and 5 races</li>
                    </ul>
                </div>
            </div>

            <div class="imgContainer extra-padding">
                <img src="~/img/stormbringer.webp" alt="Stormbringer" />
            </div>
            <h3>Completely Free to Play</h3>
            <div class="block-centered-text-left-align">
                <div>
                    <ul>
                        <li>No ads</li>
                        <li>No microtransactions</li>
                        <li>Open source</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="right-section dwarf-monk">
    <div class="backdrop">
        <div class="features-text">
            <h2>Gameplay Information</h2>
            <div class="imgContainer portrait-only">
                <img src="~/img/library.webp" alt="Loot" style="width:128px;" />
            </div>
            <p class="important-link"><a href="https://wiki.gnollhack.com">GnollHack Wiki</a></p>
            <p class="important-link"><a href="https://nethackwiki.com">NetHack Wiki</a></p>

            <h2>Community</h2>
            <div class="imgContainer portrait-only">
                <img src="~/img/spells.webp" alt="Loot" style="width:128px;" />
            </div>
            <p class="important-link"><a href="https://discord.gg/cQuExnzUQy">GnollHack Discord</a></p>
            <p class="important-link"><a href="https://x.com/GnollHack">Follow GnollHack on X</a></p>
            <p class="important-link"><a href="https://account.gnollhack.com">GnollHack Account</a></p>
            <p class="important-link"><a href="https://github.com/hyvanmielenpelit/GnollHack">GitHub Repository</a></p>
        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/carousel.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/carousel.es5.min.js" asp-append-version="true" type="text/javascript"></script>
}