@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<section class="main-section">
    <img src="~/img/gnollhack-image-landscape-w2560-q60.jpg" alt="GnollHack" class="landscape-picture" />
    <img src="~/img/gnollhack-image-portrait-w1080-q60.jpg" alt="GnollHack" class="portrait-picture" style="display:none;" />
</section>

<section class="right-section orc-assassin">
    <div class="backdrop">
        <div class="features-text">
            <h2>Download</h2>
            <h4>Available for <span class="free">free</span> on Android, iOS, and Windows!</h4>
            <div class="download-link-outer-container">
                <div class="download-link-container">
                    <a href="https://play.google.com/store/apps/details?id=com.soundmindentertainment.gnollhack&utm_source=gnollhack"><img src="~/img/google-play-badge-noborders.png" alt="Get it on Google Play" class="shiny-borders google-play" /></a>
                </div>
            </div>
            <div class="download-link-outer-container">
                <div class="download-link-container">
                    <a href="https://apps.apple.com/app/gnollhack/id1626979951?utm_source=gnollhack"><img src="~/img/app-store-badge-h200-noborders.png" alt="Download on the App Store" class="shiny-borders apple-app-store" /></a>
                </div>
            </div>
            <div class="download-link-outer-container">
                <div class="download-link-container">
                    <a href="https://apps.microsoft.com/store/detail/9P6SBLH8ZR41?utm_source=gnollhack"><img src="~/img/microsoft-store-h200-noborders.png" alt="Get it from Microsoft" class="shiny-borders microsoft-store" /><span class="beta">BETA</span></a>
                </div>
            </div>
            <div class="download-link-outer-container">
                <div class="download-link-container">
                    <a href="https://store.steampowered.com/app/3558190/GnollHack/?utm_source=gnollhack"><img src="~/img/steambadge-noborders.png" alt="Available on Steam" class="shiny-borders steam" />
                        @* <div class="playtest">
                            <div class="playtest-inner">In</div><br />
                            <div class="playtest-inner">Playtest</div>
                        </div> *@
                        <div class="coming-soon">
                            <div class="coming-soon-inner">Coming</div><br />
                            <div class="coming-soon-inner">Soon</div>
                        </div>
                    </a>
                </div>
            </div>

            <h2>What is GnollHack?</h2>
            <p class="whatis">
                Remastered and enhanced version of the classic roguelike game <a href="https://www.nethack.org" target="_blank" class="free">NetHack</a>
            </p>
            <div class="list-container">
                <ul>
                    <li>Modern  user interface</li>
                    <li>Legendary strategic depth</li>
                    <li>Endless replayability</li>
                </ul>
            </div>
            <p class="whatis readmore">Read more from <a href="https://github.com/hyvanmielenpelit/GnollHack/wiki" target="_blank" class="free">wiki</a></p>
        </div>
    </div>
</section>


<section class="left-section orc-hunter">
    <div class="backdrop">
        <div class="features-text">
            <h2>Videos and Screenshots</h2>
            <div class="carousel-container">
                @await Html.PartialAsync("_Carousel", Model.MediaItems)
            </div>
        </div>
    </div>
</section>

<h1>Features</h1>

<section class="right-section female-mage">
    <div class="backdrop">
        <div class="features-text">
            <div class="imgContainer extra-padding">
                <img src="~/img/human_rogue_male.png" alt="Human Rogue" />
            </div>
            <h3>Roguelike Gameplay</h3>
            <h5>Explore procedurally generated dungeons filled with monsters, traps, and treasures.</h5>

            <div class="imgContainer extra-padding">
                <img src="~/img/human_wizard_female.png" alt="Human Wizard" />
                <img src="~/img/gnoll_barbarian_male.png" alt="Gnoll Barbarian" />
            </div>
            <h3>Rich Class and Race System</h3>
            <div class="block-centered-text-left-align">
                <div>
                    <h5>
                        <span class="free">13 classes:</span> Wizard, barbarian, rogue, etc.
                    </h5>
                    <h5>
                        <span class="free">5 races:</span> Human, elf, gnoll, etc.
                    </h5>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="left-section barbarian">
    <div class="backdrop">
        <div class="features-text">
            <div class="imgContainer extra-padding">
                <img src="~/img/stormbringer.png" alt="Stormbringer" />
                <img src="~/img/disintegrate_active.png" alt="Disintegrate" />
            </div>
            <h3>Deep Item and Magic System</h3>
            <h5>Hundreds of items, spells, and artifacts with diverse effects.</h5>

            <div class="imgContainer" style="padding-top: 0px;">
                <img src="~/img/gnoll_body.png" alt="Dead Gnoll" />
            </div>

            <h3>Challenging Permadeath</h3>
            <h4>(Classic Mode Only)</h4>
            <h5>Death is permanent, requiring players to adapt, plan, and learn from mistakes to progress further.</h5>
        </div>
    </div>
</section>

<section class="right-section dwarf-monk">
    <div class="backdrop">
        <div class="features-text">
            <h2>Gameplay Information</h2>
            <div class="imgContainer portrait-only">
                <img src="~/img/library.png" alt="Loot" style="width:128px;" />
            </div>
            <p class="important-link"><a href="https://github.com/hyvanmielenpelit/GnollHack/wiki">GnollHack Wiki</a></p>
            <p class="important-link"><a href="https://nethackwiki.com">NetHack Wiki</a></p>

            <h2>Community</h2>
            <div class="imgContainer portrait-only">
                <img src="~/img/spells.png" alt="Loot" style="width:128px;" />
            </div>
            <p class="important-link"><a href="https://discord.gg/cQuExnzUQy">GnollHack Discord</a></p>
            <p class="important-link"><a href="https://account.gnollhack.com">GnollHack Account</a></p>
            <p class="important-link"><a href="https://github.com/hyvanmielenpelit/GnollHack">GitHub Repository</a></p>

        </div>
    </div>
</section>

@section Styles {
    <link rel="stylesheet" href="~/css/carousel.min.css" asp-append-version="true" />
}

@section Scripts {
    <script src="~/js/carousel.es5.min.js" asp-append-version="true" type="text/javascript"></script>
}